<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.GerenfuwuMapper">
    <select id="huzhaoqianzheng"  resultType="Visa">
        select * from visa;
    </select>
    <select id="budongzichan" resultType="Visa">
        select * from budongzichan;
    </select>
    <select id="marriage" resultType="Marriage">
        select * from marriage;
    </select>
    <select id="traffic" resultType="Traffic">
        select * from traffic;
    </select>

    <insert id="applyVisa" parameterType="PersonAffairs">
        insert into personAffairs values (null,'护照办理',#{username},#{transactionDate},#{IDcard},0,0,#{remark})
    </insert>
</mapper>
