<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.HomeNewsMapper">
    <select id="displayNews" parameterType="map" resultType="com.entity.News">
        select * from news where type = #{type} limit #{page},#{limit}
    </select>

    <select id="homeNewsCount" parameterType="java.lang.String" resultType="int">
        select count(*) from news where type = #{type}
    </select>
</mapper>
